version: "3.7"

services:
  go:
    build: ./go

  typescript:
    build: ./typescript

  dotnet:
    build: ./dotnet

  java-gradle:
    build: ./java/java-gradle

  java-maven:
    build: ./java/java-maven

  clojure:
    build: ./clojure

  nginx:
    image: "nginx:latest"
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
    ports:
      - "8080:80"
